.textbox1{
    border: 1px solid white;
    padding: 3px 14px 3px 14px;
    height : 40px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(139, 255, 139);
    font-size:20px;
}

.button1{
    transition-duration: 0.4s;
}

.button1:hover {
     border: 1px solid black;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button{
    color: white;
    font-size:20px; 
    background-color: rgb(156, 183, 235) ; 
    border: 1px solid rgb(174, 243, 177);
    width: 150px;
    height:50px;
    border-radius: 12px;
    padding: 3px 14px 3px 14px;
}

.li{
    display: block;
}


